.Logo {
  height: 20vmin;
  width: 20vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: blue;
  color: var(--tan-1);
  font-size: 4vmin;
  font-weight: bold;
  border: .6vmin solid gray; 
}